<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/menu :: header-css"/>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<div th:replace="fragments/menu :: header"/>
<div class = "inner" th:switch="${classes.size()}">
    <h2 th:case="0">Не было найдено ни одного класса!</h2>
    <div th:case="*">
        <h2 th:text="${title}"></h2>
        <table>
            <thead>
            <tr>
                <th>Имя</th>
                <th>Описание</th>
                <th>Детали</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="class : ${classes}">
                <td th:text="${class.name}"></td>
                <td th:text="${class.description}"></td>
                <td ><a th:href="@{${detailPath}+${class.id}}">(---)</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>