<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/menu :: header-css"/>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<div th:replace="fragments/menu :: header"/>
<script>
    window.onload = init;

    function init(){
        var updateButton = document.getElementById("updateButton")
        updateButton.onclick = updateButtonClick;

        var deleteButton = document.getElementById("deleteButton")
        deleteButton.onclick = deleteButtonClick;
    }

    function updateButtonClick() {
        let aggregationId = document.getElementById('aggregationId').innerText;
        alert("Вы нажали на кнопку update : " + aggregationId);
    }
    function deleteButtonClick() {
        let aggregationId = document.getElementById('aggregationId').innerText;

        const success = document.getElementById('success');
        const error = document.getElementById('error');

        const xhr = new XMLHttpRequest();
        let path = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port;
        xhr.open("GET", path + "/edit-mode/delete/aggregation/"+aggregationId, true);
        xhr.setRequestHeader('Content-Type', 'application/json');

        xhr.send();

        xhr.onreadystatechange = function () {

            if (xhr.readyState === XMLHttpRequest.DONE){
                if (xhr.status === 200) {
                    console.log('200');
                    let rez = JSON.parse(xhr.response).message;
                    success.innerHTML =`<div><span >${rez}</span></div>`
                    console.log("1: " + xhr.status);
                } else if (xhr.status === 400) {
                    let rez = JSON.parse(xhr.response).message;
                    error.innerHTML = `<div><span>${rez}</span></div>`
                    console.log("2: " + xhr.status);
                } else {
                    error.innerHTML = `<div><span>Упс, произошла ошибка</span></div>`
                    console.log("3: Статус ошибки" + xhr.status);
                }
            }
        }
    }
</script>
<div class = "inner" >
    <h2 th:text="${title}"></h2>
    <div>
        <input type="button" id="updateButton"  value="Обновить">
        <input type="button" id="deleteButton"  value="Удалить">
        <div class="success" id="success" style="color: green"></div>
        <div class="error" id="error" style="color: red"></div>
        <br/>
    </div>
    <table>
        <thead>
        <tr>
            <th>Идентификатор</th>
            <th>Имя</th>
            <th>Начало</th>
            <th>Конец</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${aggregation.id}" id="aggregationId"></td>
            <td th:text="${aggregation.name}"></td>
            <td ><a th:href="@{${detailClassPath}+${aggregation.toClassId}}" th:text="${aggregation.fromClassId}"></a></td>
            <td ><a th:href="@{${detailClassPath}+${aggregation.toClassId}}" th:text="${aggregation.toClassId}"></a></td>
        </tr>
        </tbody>
    </table>
</div>

<div class = "inner" th:switch="${aggregationsImpl.size()}">
    <h2>Связи (реализации агрегации)</h2>
    <h3 th:case="0">Не было найдено ни одной связи!</h3>
    <div th:case="*">
        <table>
            <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Начало</th>
                <th>Конец</th>
                <th>Детально</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="aggregationI : ${aggregationsImpl}">
                <td th:text="${aggregationI.id}"></td>
                <td ><a th:href="@{${detailObjectPath}+${aggregationI.fromObjectId}}" th:text="${aggregationI.fromObjectId}"></a></td>
                <td><a th:href="@{${detailObjectPath}+${aggregationI.toObjectId}}" th:text="${aggregationI.toObjectId}"></a></td>
                <td ><a th:href="@{${detailAggregationImplPath}+${aggregationI.id}}">(---)</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>