<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/menu :: header-css"/>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<div th:replace="fragments/menu :: header"/>

<div class = "inner" >
    <h2 th:text="${title}"></h2>
        <table>
            <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Имя</th>
                <th>Тип в системе</th>
                <th>Класс - владелец</th>
                <th>Скачать</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${resource.id}"></td>
                <td th:text="${resource.name}"></td>
                <td th:text="${resource.resourceType}"></td>
                <td><a th:href="@{${detailClassPath}+${resource.ownerClassId}}" th:text="${resource.ownerClassId}"></a></td>
                <td><a th:href="@{${downloadPath}+${resource.id}}" th:text="${resource.name}" download></a></td>
            </tr>
            </tbody>
        </table>
</div>
</html>