<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/menu :: header-css"/>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<div th:replace="fragments/menu :: header"/>
<script>
    window.onload = init;

    function init(){
        var updateButton = document.getElementById("updateButton")
        updateButton.onclick = updateButtonClick;

        var deleteButton = document.getElementById("deleteButton")
        deleteButton.onclick = deleteButtonClick;
    }

    function updateButtonClick() {
        let associationId = document.getElementById('associationId').innerText;
        alert("Вы нажали на кнопку update : " + associationId);
    }
    function deleteButtonClick() {
        let association = document.getElementById('associationId').innerText;

        const success = document.getElementById('success');
        const error = document.getElementById('error');

        const xhr = new XMLHttpRequest();
        let path = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port;
        xhr.open("GET", path + "/edit-mode/delete/association/"+association, true);
        xhr.setRequestHeader('Content-Type', 'application/json');

        xhr.send();

        xhr.onreadystatechange = function () {

            if (xhr.readyState === XMLHttpRequest.DONE){
                if (xhr.status === 200) {
                    console.log('200');
                    let rez = JSON.parse(xhr.response).message;
                    success.innerHTML =`<div><span >${rez}</span></div>`
                    console.log("1: " + xhr.status);
                } else if (xhr.status === 400) {
                    let rez = JSON.parse(xhr.response).message;
                    error.innerHTML = `<div><span>${rez}</span></div>`
                    console.log("2: " + xhr.status);
                } else {
                    error.innerHTML = `<div><span>Упс, произошла ошибка</span></div>`
                    console.log("3: Статус ошибки" + xhr.status);
                }
            }
        }
    }
</script>
<div class = "inner" >
    <h2 th:text="${title}"></h2>
    <div>
        <input type="button" id="updateButton"  value="Обновить">
        <input type="button" id="deleteButton"  value="Удалить">
        <div class="success" id="success" style="color: green"></div>
        <div class="error" id="error" style="color: red"></div>
    </div>
        <table>
            <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Имя</th>
                <th>Начало</th>
                <th>Конец</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${association.id}" id="associationId"></td>
                <td th:text="${association.name}"></td>
                <td ><a th:href="@{${detailClassPath}+${association.fromClassId}}" th:text="${association.fromClassId}"></a></td>
                <td ><a th:href="@{${detailClassPath}+${association.toClassId}}" th:text="${association.toClassId}"></a></td>
            </tr>
            </tbody>
        </table>
</div>

<div class = "inner" th:switch="${associationsImpl.size()}">
    <h2>Гиперсвязи (реализации ассоциаций)</h2>
    <h3 th:case="0">Не было найдено ни одной гиперсвязи!</h3>
    <div th:case="*">
        <table>
            <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Начало</th>
                <th>Конец</th>
                <th>Детально</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="associationI : ${associationsImpl}">
                <td th:text="${associationI.id}"></td>
                <td ><a th:href="@{${detailObjectPath}+${associationI.fromObjectId}}" th:text="${associationI.fromObjectId}"></a></td>
                <td><a th:href="@{${detailObjectPath}+${associationI.toObjectId}}" th:text="${associationI.toObjectId}"></a></td>
                <td ><a th:href="@{${detailAssociationImplPath}+${associationI.id}}">(--)</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>