<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/menu :: header-css"/>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<div th:replace="fragments/menu :: header"/>

<div class = "inner" >
    <h2 th:text="${title}"></h2>
    <table>
        <thead>
        <tr>
            <th>Идентификатор</th>
            <th>Имя</th>
            <th>Начало</th>
            <th>Конец</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${aggregation.id}"></td>
            <td th:text="${aggregation.name}"></td>
            <td ><a th:href="@{${detailClassPath}+${aggregation.toClassId}}" th:text="${aggregation.fromClassId}"></a></td>
            <td ><a th:href="@{${detailClassPath}+${aggregation.toClassId}}" th:text="${aggregation.toClassId}"></a></td>
        </tr>
        </tbody>
    </table>
</div>

<div class = "inner" th:switch="${aggregationsImpl.size()}">
    <h2>Связи (реализации агрегации)</h2>
    <h3 th:case="0">Не было найдено ни одной связи!</h3>
    <div th:case="*">
        <table>
            <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Начало</th>
                <th>Конец</th>
                <th>Детально</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="aggregationI : ${aggregationsImpl}">
                <td th:text="${aggregationI.id}"></td>
                <td ><a th:href="@{${detailObjectPath}+${aggregationI.fromObjectId}}" th:text="${aggregationI.fromObjectId}"></a></td>
                <td><a th:href="@{${detailObjectPath}+${aggregationI.toObjectId}}" th:text="${aggregationI.toObjectId}"></a></td>
                <td ><a th:href="@{${detailAggregationImplPath}+${aggregationI.id}}">(---)</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>