<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/menu :: header-css"/>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<div th:replace="fragments/menu :: header"/>

<div class = "inner" >
    <h2 th:text="${title}"></h2>
        <table>
            <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Имя</th>
                <th>Начало</th>
                <th>Конец</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${association.id}"></td>
                <td th:text="${association.name}"></td>
                <td ><a th:href="@{${detailClassPath}+${association.fromClassId}}" th:text="${association.fromClassId}"></a></td>
                <td ><a th:href="@{${detailClassPath}+${association.toClassId}}" th:text="${association.toClassId}"></a></td>
            </tr>
            </tbody>
        </table>
</div>

<div class = "inner" th:switch="${associationsImpl.size()}">
    <h2>Гиперсвязи (реализации ассоциаций)</h2>
    <h3 th:case="0">Не было найдено ни одной гиперсвязи!</h3>
    <div th:case="*">
        <table>
            <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Начало</th>
                <th>Конец</th>
                <th>Детально</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="associationI : ${associationsImpl}">
                <td th:text="${associationI.id}"></td>
                <td ><a th:href="@{${detailObjectPath}+${associationI.fromObjectId}}" th:text="${associationI.fromObjectId}"></a></td>
                <td><a th:href="@{${detailObjectPath}+${associationI.toObjectId}}" th:text="${associationI.toObjectId}"></a></td>
                <td ><a th:href="@{${detailAssociationImplPath}+${associationI.id}}">(--)</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>