<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/menu :: header-css"/>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<div th:replace="fragments/menu :: header"/>
<script>
    window.onload = init;

    function init(){
        var updateButton = document.getElementById("updateButton")
        updateButton.onclick = updateButtonClick;

        var deleteButton = document.getElementById("deleteButton")
        deleteButton.onclick = deleteButtonClick;
    }

    function updateButtonClick() {
        let resourceId = document.getElementById('resourceId').innerText;
        const success = document.getElementById('success');
        const error = document.getElementById('error');

        const xhr = new XMLHttpRequest();
        let path = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port;
        xhr.open("GET", path + "/edit-mode/update/resource/"+resourceId, true);
        xhr.setRequestHeader('Content-Type', 'application/json');

        xhr.send();

        xhr.onreadystatechange = function () {

            if (xhr.readyState === XMLHttpRequest.DONE){
                if (xhr.status === 200) {
                    console.log('200');
                    let rez = JSON.parse(xhr.response).message;
                    success.innerHTML =`<div><span >${rez}</span></div>`
                    console.log("1: " + xhr.status);
                } else if (xhr.status === 400) {
                    let rez = JSON.parse(xhr.response).message;
                    error.innerHTML = `<div><span>${rez}</span></div>`
                    console.log("2: " + xhr.status);
                } else {
                    error.innerHTML = `<div><span>Упс, произошла ошибка</span></div>`
                    console.log("3: Статус ошибки" + xhr.status);
                }
            }
        }
    }
    function deleteButtonClick() {
        let resourceId = document.getElementById('resourceId').innerText;

        const success = document.getElementById('success');
        const error = document.getElementById('error');

        const xhr = new XMLHttpRequest();
        let path = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port;
        xhr.open("GET", path + "/edit-mode/delete/resource/"+resourceId, true);
        xhr.setRequestHeader('Content-Type', 'application/json');

        xhr.send();

        xhr.onreadystatechange = function () {

            if (xhr.readyState === XMLHttpRequest.DONE){
                if (xhr.status === 200) {
                    console.log('200');
                    let rez = JSON.parse(xhr.response).message;
                    success.innerHTML =`<div><span >${rez}</span></div>`
                    console.log("1: " + xhr.status);
                } else if (xhr.status === 400) {
                    let rez = JSON.parse(xhr.response).message;
                    error.innerHTML = `<div><span>${rez}</span></div>`
                    console.log("2: " + xhr.status);
                } else {
                    error.innerHTML = `<div><span>Упс, произошла ошибка</span></div>`
                    console.log("3: Статус ошибки" + xhr.status);
                }
            }
        }
    }
</script>
<div class = "inner" >
    <h2 th:text="${title}"></h2>
    <div>
        <a type="button" id="updateButton" th:href="${href}" >Обновить</a>
        <a type="button" id="deleteButton"  onclick="deleteButtonClick()">Удалить</a>
        <div class="success" id="success" style="color: green"></div>
        <div class="error" id="error" style="color: red"></div>
    </div>
        <table>
            <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Имя</th>
                <th>Тип в системе</th>
                <th>Класс - владелец</th>
                <th>Скачать</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${resource.id}" id="resourceId"></td>
                <td th:text="${resource.name}"></td>
                <td th:text="${resource.resourceType}"></td>
                <td><a th:href="@{${detailClassPath}+${resource.ownerClassId}}" th:text="${resource.ownerClassId}"></a></td>
                <td><a th:href="@{${downloadPath}+${resource.id}}" th:text="${resource.name}" download></a></td>
            </tr>
            </tbody>
        </table>
</div>
</html>