<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:fragment="header-css">
    <link rel="stylesheet" th:href="@{/css/menu.css}" href="../../css/menu.css">
    <meta charset="UTF-8">
    </div>
    <title></title>
</head>
<div class = "header" th:fragment="header">
    <ul class="menu">
        <li><a th:href="${m.view_mode}" style="color: dodgerblue">Режим просмотра</a></li>
        <li><a th:href="${m.edit_mode}" style="color: orangered">Режим редактирования</a></li>
    </ul>
    <ul class="menu">
        <li><a style="color: dodgerblue" th:href="${m.pagePath}">Страницы</a></li>
        <li><a style="color: dodgerblue" th:href="${m.classPath}">Классы</a></li>
        <li><a style="color: dodgerblue" th:href="${m.objectPath}">Объекты</a></li>
        <li><a style="color: dodgerblue" th:href="${m.aggregationPath}">Агрегации Классов</a></li>
        <li><a style="color: dodgerblue" th:href="${m.aggregationImplPath}">Агрегации Объектов</a></li>
        <li><a style="color: dodgerblue" th:href="${m.associationPath}">Ассоциации Классов</a></li>
        <li><a style="color: dodgerblue" th:href="${m.associationImplPath}">Ассоциации Объектов</a></li>
        <li><a style="color: dodgerblue" th:href="${m.templatePath}">Шаблоны</a></li>
    </ul>
</div>
</html>