<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/menu :: header-css"/>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<div th:replace="fragments/menu :: header"/>
<div class = "inner_text">
    <h1>Понятия в ООП</h1>
    <div>
        <h4>Класс</h4>  
        Класс задается:
        <ul>
            <li>своим типом (именем класса)</li>
            <li>информацией о суперклассах и реализуемых интерфейсах</li>
            <li>своими членами (полями, методами и внутренними абстракциями)</li>
        </ul>
        Члены класса могут реализовывать свойства объекта (поля и методы экземпляра), 
        а могут реализовывать свойства собственного класса (статические поля и методы).
        <br><br>
        Для реализации свойства объекта «иметь состояние» в классе существуют атрибуты (поля).В них могут хранится как простые величины (для атрибутов примитивного типа), так и
        ссылки (указатели) на объекты других классов для ссылочных переменных типов, определяемых пользователем.
        <br><br>
        Для реализации поведения объекта используются функции-члены класса. Функции-члены экземпляра работают в контексте
        состояния конкретного объекта и имеют доступ как к членам экземпляра, так и к статическим членам класса. Статические
        функции-члены реализуют поведение собственно класса и имеют доступ только к статическим членам класса.
    </div>
    <div>
        <h4>Взаимоотношения между классами</h4>
        Существует три типа отношений между классами:
        <ul>
            <li>Ассоциация -  обозначает наличие логической связи между классами.</li>
            <li>Агрегация и композиция отношение когда один класс является частью другого. Например, Студент входит в Группу любителей физики. Говорят о  композиции, когда есть зависимость по времени жизни </li>
            <li>Обобщение/Расширение (наследование)</li>
        </ul>
    </div>
    <div>
        <h4>Объект</h4>
        Определения по Бучу: 
        <ul>
        <li>объект обладает состоянием, поведением и идентичностью</li>
            <ul>
                <li>Поведение – это то, как объект действует и реагирует; поведение выражается в терминах состояния объекта и передачи сообщений. Т.е. поведение объекта – это его наблюдаемая и проверяемая извне деятельность.</li>
                <li>Состояние объекта характеризуется перечнем (обычно статическим) всех свойств данного объекта и текущими (обычно динамическими) значениями каждого из этих свойств.</li>
                <li>Идентичность – это такое свойство объекта, которое отличает его от всех других объектов.</li>
            </ul>
        <li>структура и поведение схожих объектов определяет общий для них класс </li>
        <li>термины «экземпляр класса» и «объект» взаимозаменяемы </li>
        </ul>
    </div>
    <div>
        <h4>Взаимоотношения между объектами</h4>
        Все отношения между объектами могут быть сведены к двум типам:
        <ul>
            <li>Ассоциация – отношение, позволяющее реализовать взаимодействие клиент-сервер.</li>
            <li>Агрегация и композиция – отношение, служащее для определения понятия целое-часть и организации иерархий объектов. При композиционном отношении между объектами существует зависимость по времени жизни.</li>
        </ul>
    </div>

    <hr>
    <!-- ------------------------------------------------------- -->
    <h1>Понятия в Системе (Версия 1.2)</h1>
    <div>
        <h4>Класс</h4>  
        Класс задается:
        <ul>
            <li>своим типом (идентификатором класса)</li>
            <li>своими членами (Атрибутами и Шаблонами)</li>
        </ul>
        Члены класса могут реализовывать свойства объекта (Атрибуты и Шаблоны экземпляра), 
        а могут реализовывать свойства собственного класса (имя, системное имя, описание класса).
        <br><br>
        Для реализации свойства объекта «иметь состояние» в классе существуют Атрибуты (поля).В них могут хранится как простые величины (для атрибутов примитивного типа), так и
        ссылки на Ресурсы (картинки, видео...).
        <br><br>
        Для реализации поведения объекта используются Шаблоны Класса. Шаблоны экземпляра работают в контексте состояния конкретного объекта и имеют доступ только к членам экземпляра.
    </div>
    <div>
        <h4>Взаимоотношения между классами</h4>
        Существует два типа отношений между классами:
        <ul>
            <li>Ассоциация -  обозначает наличие логической связи между классами. Данное отношение создается вручную.
                <br><div style="background-color: antiquewhite">Например, Класс "Информационная доска" и Класс "Контакты" могут иметь ассоциацию "включает в себя" (Информационная доска включает в себя Контакты).</div>
            </li>
            <li>Агрегация — отношение когда один класс является частью другого. Данное отношение создается вручную.</li>
            <ul>
                <li><div style="background-color: antiquewhite">Частями Класса "Меню" будут гиперссылки на некоторые Объекты, к которым нужен быстрый доступ.</div></li>
                <li><div style="background-color: antiquewhite">Частями Класса "Страница" будет некоторый Объект Класса "Меню".</div></li>
            </ul>
        </ul>
    </div>
    <div>
        <h4>Объект</h4>
        <ul>
        <li>объект обладает состоянием, поведением и идентичностью</li>
            <ul>
                <li>Поведение – это его наблюдаемая и проверяемая извне деятельность, реализованное через Шаблоны.</li>
                <li>Состояние объекта характеризуется перечнем всех Атрибутов данного объекта и текущими значениями каждого из этих Атрибутов.</li>
                <li>Идентичность – это такое свойство объекта, которое отличает его от всех других объектов, реализуется идентификатором.</li>
            </ul>
        <li>структура и поведение схожих Объектов определяет общий для них Класс </li>
        <li>термины «экземпляр Класса» и «Объект» взаимозаменяемы </li>
        </ul>
    </div>
        <div>
        <h4>Взаимоотношения между объектами</h4>
        Все отношения между объектами могут быть сведены к двум типам:
        <ul>
            <li>Экземпляр Ассоциации - Объект имеет ссылку на другой Объект. Данное отношение создается вручную.
                <br>
                <div style="background-color: antiquewhite">Например, Объект "Меню" при обработке Шаблоном выдаст html с гиперссылками на другие Объекты</div>
                <br>
            </li>
            <li>Экземпляр агрегации и экземпляр композиции
            <ul>
                <li>Экземпляр агрегации — отношение когда один Объект может включать в себя другие Объекты, но Объекты существуют независимо друг от друга. Данное отношение создается автоматически при проверке поля типа XMEMO, принадлежащего Объекту - источнику.
                    <br>
                    <div style="background-color: antiquewhite">Пусть Класс "Меню" содержит поле XMEMO "Адреса". Также у этого Класса есть Объект "Главное Меню". "Главное Меню" в поле "Адреса" содержит XML документ с тегами из предопределенного пространства имен Системы. Эти теги укажут Системе подставить вместо них гиперссылки на некоторые Объекты.</div>
                    <br>
                    <div style="background-color: antiquewhite">Пусть Класс "Страница" содержит поле XMEMO "Меню Страницы". Также у этого Класса есть Объект "Новости". "Новости" в поле "Меню" содержит XML документ с тегами из предопределенного пространства имен Системы. Эти теги укажут Системе подставить вместо них Объект "Меню".</div>
                    <br>
            </ul></li>
        </ul>
    </div>
	<div>
        <h4>Шаблон</h4>
        Шаблон - это единственный публичный метод. Шаблон из значений полей Объекта и при необходимости, используя информацию из различного вида отношений, формирает некоторый документ (html).<br>
        Физически Шаблон является некоторым XML текстом, содержащим разметку html и теги из предопределенного пространства имен Системы,указывающие Системе на необходимость совершить некоторые манипуляции, например:
        <ul>
            <li>Вставить данные из конкретного поля Объекта
                <br>
                <div style="background-color: antiquewhite">&lt;field&gt;fieldName&lt;/field&gt;</div>
                <br>
            </li>
            <li>Вставить результаты конкретного Шаблона (id = 5) каждого Объекта, имеющего Экземпляр Ассоциации конкретной Ассоциации (id = 2).
                <br>
                <div style="background-color: antiquewhite">&lt;association associationId="2" templateId="5"&gt;&lt;/association&gt;</div>
                <br>
            </li>
        </ul>
    </div>
    <div>
        <h4>Типы Атрибутов</h4>
        <ul>
            <li>Число с плавающей запятой (FLOAT)</li>
            <li>Число целое (INTEGER)</li>
            <li>Число целое малое (SMALLINT)</li>
            <li>Строка длины N (STRING sizeof(N))</li>
            <li>Текст (TEXT)</li>
            <li>Текст с специальными вставками (XMEMO)</li>
            <li>Набор байт (MMEDIA) -  содержит некоторые файлы Объекта, такой как фото, видео или др. Атрибут должен обязательно одержать непосредственный тип контента (jpg, wmv ...).</li>
            <li>Время (TIME)</li>
        </ul>

        Любой Атрибут Объекта является приватным полем (принцип инкапсуляции), т.е. нельзя непосредственно получить их значение. Если есть нужда в получении конкретных Атрибутов, то необходимо создать Шаблон, в котором упомянаются только нужные Атрибуты.
    </div>
    <div>
        <h4>Атрибут типа XMEMO</h4>
        Атрибут типа XMEMO представлен может содержать специальные метки, указывающие на авторские проводки.<br>
        <ul>
            <li>Вставить гиперссылку (type = "hyperlink") на Объект (id = 7), связанный Агрегацией (id = 2)
                <br>
                <div style="background-color: antiquewhite">Он жил в &lt;aggregation aggregationId="2" templateId="5" objectId="7" type="hyperlink"&gt;Новосибирске.&lt;/aggregation&gt;</div>
                <br>
            </li>
            <li>Вставить Объект (type = "objectInTemplate", id = 7) связанный Агрегацией (id = 2)
                <br>
                <div style="background-color: antiquewhite">&lt;aggregation aggregationId="2" templateId="5" objectId="7" type="object"&gt;&lt;/aggregation&gt;</div>
                <br>
            </li>
            <li>Вставить все Объекты (type = "objectInTemplateAll") Класса - источника, который связан Агрегацией (id = 2)
                <br>
                <div style="background-color: antiquewhite">&lt;aggregation aggregationId="2" templateId="5" type="objects"&gt;&lt;/aggregation&gt;</div>
            </li>
        </ul>
    </div>
    </div>
    </div>
        <div>
        <h4>Ресурсы</h4>
        Ресурсы - это статические поля Класса, которые содержат файлы (фото, видео или др.), которые могут быть использованы Объектами Класса - владельца Ресурса.<br><div style="background-color: antiquewhite">Например, есть несколько Объектов Класса "Меню", но все они нуждаются в одном и том же картинке - логотипе (Ресурсе Класса "Меню").</div>
    </div>
</div>
</html>