
<field>ИмяАтрибута</field>

<association associationId="1" templateId="2" delimiter="," type="object"></association>
<association associationId="1" templateId="2" delimiter="," type="hyperlink">ИмяАтрибута1 ИмяАтрибута2</association>

<resource resourceId="1" type="whole"></resource>
<resource resourceId="1" type="download"></resource>
<a href="" style="color:orange"> Скачать аудио : Звуки пианино<resource resourceId="2" type="hyperlink"></resource></a>


<aggregation aggregationId="1" templateId="2" objectId="4" type="hyperlink">Нажми сюда</aggregation>
<aggregation aggregationId="1" templateId="2" objectId="4" type="object"></aggregation>


