<p>Класс задается:</p>
<ul>
    <li>своим типом (идентификатором класса)</li>
    <li>своими членами (Атрибутами, Ресурсами и Шаблонами)</li>
</ul>
<p>В классе существуют Атрибуты (нестатические поля Класса). В них могут хранится:</p>
<ul>
    <li>простые величины (Атрибуты типа smallint, int, float, string, text, date)</li>
    <li>файлы (Атрибуты типа mmedia)</li>
    <li>форматированный текст с авторскими проводками (Атрибуты типа xmemo)</li>
</ul>
<p>В Классе также существуют статические поля:</p>
<ul>
    <li>Ресурсы, в которых могут храниться файлы</li>
</ul>
<p>И нестатические методы:</p>
<ul>
    <li>Шаблоны, которые формируют визуальное представление
        <aggregation aggregationId="2" templateId="4" objectId="7" type="hyperlink">Объектов</aggregation></li>
</ul>


