<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div class = "inner" id = "toDelete">
        <h2 align="center" th:text="${title}"></h2>
        <h2 align="center" th:text="${classId}" th:id="'classId'" style="color: #BABABA"></h2>

            <form onsubmit="sendPost(); return false;" method="post">
                <div class="attr" th:each="attribute,iterStat : ${attributes}">
                    <div th:switch="${attribute.attributeType}">
                        <div th:case="'1'"><div th:replace="fragments/sysTypes/float_input :: div_input"></div></div>
                        <div th:case="'2'"><div th:replace="fragments/sysTypes/integer_input :: div_input"></div></div>
                        <div th:case="'3'"><div th:replace="fragments/sysTypes/smallint_input :: div_input"></div></div>
                        <div th:case="'4'"><div th:replace="fragments/sysTypes/mmedia_input :: div_input"></div></div>
                        <div th:case="'5'"><div th:replace="fragments/sysTypes/text_input :: div_input"></div></div>
                        <div th:case="'6'"><div th:replace="fragments/sysTypes/string_input :: div_input"></div></div>
                        <div th:case="'7'"><div th:replace="fragments/sysTypes/xmemo_input :: div_input"></div></div>
                        <div th:case="'8'"><div th:replace="fragments/sysTypes/time_input :: div_input"></div></div>
                    </div>
                </div>
                <p><input type="submit" value="Сохранить объект"></p>
            </form>
    </div>
</html>