<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div class = "inner" id = "toDelete">
        <h2 align="center" th:text="${title}"></h2>
        <h2 align="center" th:text="${aggregationId}" th:id="'aggregationId'" style="color: #BABABA"></h2>

            <form onsubmit="sendPost(); return false;" method="post">
                <p><label for="AggrFromChoise">Объект Источник</label>
                    <select th:id="'AggrFromChoise'" id="AggrFromChoise">
                        <option th:each="fromObject : ${fromObjects}" th:text="${fromObject}"></option>
                    </select>
                <p><label for="AggrToChoise">Объект Приемник</label>
                    <select th:id="'AggrToChoise'" id="AggrToChoise">
                        <option th:each="toObject : ${toObjects}" th:text="${toObject}"></option>
                    </select>
                <p><input type="submit" value="Сохранить агрегацию"></p>
            </form>
    </div>
</html>