<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/menu_editor :: header-css"></div>
    <script async src="/js/new_aggregationImpl.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<div th:replace="fragments/menu_editor :: header"></div>
<teacherCard>
    <div class = "inner" >
        <h2 align="center" th:text="${title}"></h2>

        <div class="attribute">
            <select th:id="'AggrFirstChoise'">
                <option th:each="aggrIdent : ${aggrIdents}" th:text="${aggrIdent}"></option>
            </select>
            <button type="button" class="btn" onclick="addAggrForm()">Загрузить форму для Агрегации между Объектами</button>
        </div>

        <div class="innerForm"></div>

        <div class="error" id="error"></div>
        <div class="success" id="success"></div>
    </div>
</teacherCard>
</html>