<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div class = "inner" id = "toDelete">
        <h2 align="center" th:text="${title}"></h2>
        <h2 align="center" th:text="${classId}" th:id="'classId'" style="color: #BABABA"></h2>

            <form onsubmit="sendPost(); return false;" method="post">
                <div class="attr" th:each="attribute,iterStat : ${attributes}">
                    <div th:switch="${attribute.attributeType}">
                        <p th:case="'1'">
                            <label th:for="'attr'+${iterStat.index}" th:text="${attribute.name}" th:id="'label'+${iterStat.index}"></label>
                            <input type="number" th:id="'attr'+${iterStat.index}" >
                        </p>
                        <p th:case="'2'">
                            <label th:for="'attr'+${iterStat.index}" th:text="${attribute.name}" th:id="'label'+${iterStat.index}"></label>
                            <input type="number" th:id="'attr'+${iterStat.index}" >
                        </p>
                        <p th:case="'3'">
                            <label th:for="'attr'+${iterStat.index}" th:text="${attribute.name}" th:id="'label'+${iterStat.index}"></label>
                            <input type="file" th:id="'attr'+${iterStat.index}" >
                        </p>
                        <p th:case="'4'">
                            <label th:for="'attr'+${iterStat.index}" th:text="${attribute.name}" th:id="'label'+${iterStat.index}"></label>
                            <textarea th:id="'attr'+${iterStat.index}"  cols="60" rows="4"></textarea>
                        </p>
                        <p th:case="'6'">
                            <label th:for="'attr'+${iterStat.index}" th:text="${attribute.name}" th:id="'label'+${iterStat.index}"></label>
                            <input type="number" th:id="'attr'+${iterStat.index}" >
                        </p>
                        <p th:case="*">
                            <label th:for="'attr'+${iterStat.index}" th:text="${attribute.name}" th:id="'label'+${iterStat.index}"></label>
                            <textarea th:id="'attr'+${iterStat.index}"  cols="60" rows="1"></textarea>
                        </p>
                    </div>
                </div>
                <p><input type="submit" value="Сохранить объект"></p>
            </form>
    </div>
</html>