<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<div class="attribute" th:fragment="new_attr">
    <h2 align="center" th:text="'№ '+${id}"></h2>
    <p>
        <label th:for="'attribute_name_'+${id}">Название</label>
        <textarea th:id="'attribute_name_'+${id}" placeholder="Attribute_name" cols="60" rows="1"></textarea>
    </p>
    <p>
        <label th:for="'attribute_type_'+${id}">Тип атрибута</label>
        <select th:id="'attribute_type_'+${id}">
            <option th:each="type : ${attributeTypes}" th:text="${type}"></option>
        </select>
    </p>
    <p>
        <label th:for="'attribute_size_'+${id}">Длина (обязательно для типа STRING)</label>
        <textarea th:id="'attribute_size_'+${id}" placeholder="10" cols="60" rows="1"></textarea>
    </p>
    <p>
        <label th:for="'attribute_content_type_'+${id}">Тип контента (обязательно для типа MMEDIA)</label>
        <select th:id="'attribute_content_type_'+${id}">
            <option th:each="content : ${contentTypes}" th:text="${content}"></option>
        </select>
    </p>
    <p>
        <label th:for="'attribute_is_null_'+${id}">Может равняться нулю?</label>
            <select th:id="'attribute_is_null_'+${id}">
                <option>true</option>
                <option>false</option>
            </select>
    </p>
</div>

</html>